<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

     <link rel="stylesheet" href="./static/dashboard.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
        <h1>Dashboard</h1>
       <form action="/dashboard" method="POST">
       <table class="table table-bordered">
           <thead>
           <tr>
           <td> <b>SrNumber</b></td>
           <td><b>Tracker Name</b></td>
           <td><b>Last Tracked</b></td>
           </tr>
           </thead>
         {% if message %}
            <p>{{message}}</p>

         {% else %}
            <tbody>
           {% for k in usert_tlist %}
                    <tr>
                    <td name="serial" value="{{k.srnuml}}">{{loop.index}}</td>

                    <td>{{k.trackerid}}</td>
                    <td>{{k.userid}}</td>
                    <td>{{k.last_tracked}}</td>

                    <td><a href="/delete/{{k.trackerid}}">&nbspDelete</td>
                    <td><a href="/update/{{k.trackerid}}">&nbspUpdate</td>
                    </tr>
              {% endfor %}
         {% endif %}

            </tbody>
       </table>




        <p> <a href="/tracker_individual/{{uid}}"> +Add Tracker Event</a></p>

       </form>

</body>
</html>