<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

     <link rel="stylesheet" href="./static/dashboard.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
        <h1>Hello {{username}}, Welcome to your Dashboard</h1>
       <form action="/dashboard" method="POST">
       <table class="table table-bordered">
           <thead>
           <tr>
           <td> <b>SrNumber</b></td>
           <td><b>&nbspTracker Name</b></td>

           <td><b>&nbsp Last Tracked</b></td>
           <td><b>&nbsp Log </b></td>
           </tr>
           </thead>
         {% if message %}
            <p>{{message}}</p>

         {% else %}
            <tbody>
           {% for k in usert_tlist %}
                    <tr>
                    <td name="serial" value="{{k.srnuml}}">&nbsp&nbsp{{loop.index}}</td>


                    <td><a href="/activitylog/{{uid}}/{{k.tid}}">&nbsp&nbsp{{k.tracker_name}}</a></td>
                    <td>&nbsp&nbsp{{k.last_tracked}}</td>
                    <td>&nbsp&nbsp&nbsp&nbsp<a href="/log/{{uid}}/{{k.tid}}">+  </a></td>
                    <td>&nbsp&nbsp<a href="/delete/{{uid}}/{{k.tid}}">Delete</td>
                    <td>&nbsp&nbsp<a href="/update/{{uid}}/{{k.tid}}">Update</td>
                    </tr>
              {% endfor %}
         {% endif %}

            </tbody>
       </table>




        <p> <a href="/tracker_individual/{{uid}}"> +Add Tracker Event</a></p>

       </form>

</body>
</html>